---
import { FaCheckCircle } from "react-icons/fa";

const { data } = Astro.props;
---

<section class="relative isolate overflow-hidden bg-accent-100 text-accent-900">
  <div class="relative px-6 py-16 sm:px-10 lg:grid-cols-2 lg:gap-10 lg:px-16 lg:py-24">
    <div class="max-w-7xl text-center mx-auto">
      <p class="eyebrow-dark inline-flex items-center gap-2tracking-widest">
        {data.eyebrow}
      </p>
      <h2 class="mt-3 text-4xl leading-tight font-extrabold sm:text-5xl lg:text-6xl">
        {data.title}
      </h2>
      <h3 class="mt-3 text-xl leading-tight font-semibold text-primary-600 sm:text-3xl lg:text-4xl">
        {data.subTitle}
      </h3>
      <div class="mt-5 mx-auto max-w-3xl text-base text-left sm:text-lg">
        {data.description && <p class="text-center mb-5 text-lg font-medium" set:html={data.description} />}

        {
          data.bullets && (
            <ul class="flex flex-col gap-5">
              {data.bullets.map((item: string) => (
                <li class="flex gap-6 items-center">
                  <FaCheckCircle className="size-6 shrink-0" />
                  <span set:html={item} />
                </li>
              ))}
            </ul>
          )
        }
      </div>
      <p></p>

      {
        data.cta && (
          <a href={data.cta.url} class="btn-primary mt-5 mx-auto max-w-fit">
            {data.cta.text}
          </a>
        )
      }
    </div>
  </div>
</section>
