---
import { SITE_DESCRIPTION, KEYWORDS } from "../../data/consts";
import ImageComp from "../../components/ImageComp.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Banner from "../../components/Banner.astro";
import Author from "../../components/Author.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const data = {
  header: {
    image: {
      src: "/src/assets/stock/airplane-takeoff-night-vegas-aviation-aircraft-rental-nevada.jpg",
      alt: "Airplane taking off at night",
    },
    eyebrow: "Blog",
    title: "The Latest News in Aviation",
    subTitle:
      "Learn more about the various topics of aviation to prepare for incoming changes or become aquainted with the requirements of your next certificate.",
  },
};
---

<BaseLayout siteTile="Blog | Vegas Aviation" siteDescription={SITE_DESCRIPTION} siteKeywords={KEYWORDS}>
  <Banner data={data.header} />

  <section class="max-w-7xl mx-auto">
    <ul class="grid grid-cols-1 gap-6 px-4 py-12 md:grid-cols-2 lg:grid-cols-3">
      {
        posts.map((post) => (
          <a
            class="rounded-xl overflow-hidden bg-white border-2 border-primary-600 transition-all duration-300 ease-in-out hover:scale-105 hover:ring-2 hover:ring-primary-600"
            href={`/blog/${post.id}/`}
          >
            <ImageComp
              src={post.data.heroImage}
              alt={post.data.heroImageAlt}
              class="max-h-64 w-full object-cover object-center"
            />
            <div class="p-4">
              <Author data={post.data} small={true} />
              <h4 class="font-bold mb-4 text-2xl">{post.data.title}</h4>
            </div>
          </a>
        ))
      }
    </ul>
  </section>
</BaseLayout>
