---
import ImageComp from "../../components/ImageComp.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout>
  <main class="max-w-7xl mx-auto mt-32">
    <section>
      <ul class="flex gap-10 p-10">
        {
          posts.map((post) => (
            <li class="rounded-lg overflow-hidden bg-accent-100">
              <a href={`/blog/${post.id}/`}>
                <ImageComp
                  src={post.data.heroImage}
                  alt={post.data.heroImageAlt}
                  class="max-w-96 object-cover object-center"
                />
                <div class="p-4">
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
