---
import ImageComp from "../ImageComp.astro";

const { content } = Astro.props;
---

<div class="bg-accent-100 py-24 md:py-32">
  <div class="mx-auto flex flex-col max-w-7xl gap-20 px-6 items-start lg:px-8 xl:flex-row">
    <div class="max-w-2xl flex-1 top-28 text-center sm:text-left lg:sticky">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">{content.title}</h2>
      <p class="mt-6 text-lg/8 text-gray-600">{content.description}</p>
    </div>
    <ul role="list" class="flex-1 divide-y divide-gray-200">
      {
        content.team.map((member: any) => (
          <li class="group flex flex-col items-center text-center gap-10 py-12 first:pt-0 last:pb-0 sm:text-left sm:flex-row">
            <ImageComp
              src={member.image.src}
              alt={member.image.alt}
              class="aspect-4/5 w-52 flex-none rounded-2xl object-cover outline-1 -outline-offset-1 outline-black/5 transition-all duration-300 ease-in-out group-hover:scale-105 group-hover:shadow-xl group-hover:shadow-accent-600/30"
            />
            <div class="max-w-xl flex-auto">
              <h3 class="text-lg/8 font-semibold tracking-tight text-gray-900">{member.name}</h3>
              <p class="text-base/7 text-gray-600">{member.roles}</p>
              <p class="mt-6 text-base/7 text-gray-600">{member.description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>
