---
import ImageComp from "../ImageComp.astro";

const { content } = Astro.props;
---

<div class="bg-white py-12">
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-3xl">
      <h2 class="text-4xl font-semibold tracking-tight text-balance text-accent-900 whitespace-pre-line sm:text-5xl">
        {content.title}
      </h2>
      <p class="mt-6 text-lg/8 text-accent-600">{content.description}</p>
    </div>
    <ul
      role="list"
      class="mx-auto mt-20 flex flex-wrap justify-center max-w-2xl gap-6 lg:mx-0 lg:max-w-none lg:gap-8"
    >
      {
        content.team.map((member: any) => (
          <li class="w-full rounded-2xl p-4 transition-all duration-300 ease-in-out sm:p-8 hover:ring-1 hover:ring-primary-600 hover:shadow-lg hover:shadow-accent-600/20 hover:scale-105 sm:w-5/12 lg:w-1/4">
            <ImageComp
              src={member.image.src}
              alt={member.image.alt}
              class="mx-auto aspect-9/16 max-h-[60vh] object-cover object-top rounded-xl"
            />
            <h3 class="mt-6 text-xl font-semibold tracking-tight text-accent-900">
              {member.name}
            </h3>
            <p class="text-base font-thin text-accent-600">{member.roles}</p>
          </li>
        ))
      }
    </ul>
  </div>
</div>
