---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomePageAbout from "../components/HomePageAbout.astro";
import ProgramsList from "../components/ProgramsList.astro";
import CTAWhyUs from "../components/CTAWhyUs.astro";
import ContactForm from "../components/forms/ContactForm.astro";
import TestimonialsCarousel from "../components/TestimonialsCarousel.jsx";
import CTAIntroFlight from "../components/CTAIntroFlight.astro";
import FAQs from "../components/FAQs.astro";
import BannerHomepage from "../components/BannerHomepage.astro";
import { PHONE_NUMBER } from "../data/consts";


import { faq } from "../data/faqs";
import contactData from "../data/forms/contact.js";

const data = {
  image: {
    src: "/src/assets/las-vegas-nevada-flight-school-pilot-training-flying-lessons-learn-to-fly-vegas-aviation.webp",
    alt: "Aircraft flying horizon in the background",
  },
  eyebrow: `Call Us: <a href:"tel:${PHONE_NUMBER}">${PHONE_NUMBER}</a>`,
  title: "<b>Become a Pilot at Vegas Aviation</b>",
  subTitle: "30,000 new Airline Pilots needed every year. Why not you?",
  heroCards: false,
  cta: [
    {
      url: "/enroll",
      text: "Start Flying",
    },
    {
      url: "/flight-training/#programs",
      text: "Training Process",
    },
  ],
};
---

<BaseLayout>
  <BannerHomepage data={data} />
  <HomePageAbout />
  <ProgramsList />
  <CTAWhyUs />
  <TestimonialsCarousel
    items={[]}
    className="from-sky-900/30 to-accent-100 bg-linear-to-b px-5 py-16 text-accent-900 md:px-8 md:py-20 lg:px-10 lg:py-24"
    client:load
  />
  <ContactForm content={contactData} />
  <CTAIntroFlight />
  <FAQs faqs={faq.privatePilot.items} />
</BaseLayout>
