---
import { termsOfService } from "../data/terms-of-service";
import BaseLayout from "../layouts/BaseLayout.astro";
import Banner from "../components/Banner.astro";
---

<BaseLayout
  siteTitle={termsOfService.siteTitle}
  siteDescription={termsOfService.siteDescription}
  keywords={termsOfService.siteKeywords}
>
  <Banner data={termsOfService.header} slot="hero" />

  <section
    class="px-4 pt-12 font-serif bg-white sm:px-6"
  >
    <div class="max-w-4xl mx-auto">
      <p
        class="mx-auto mt-2 text-muted-400 text-center"
        set:html={termsOfService.subheading}
      />
      <div class="mt-12 py-10">
        {
          termsOfService.content.map((part) => (
            <div class="mb-12">
              <h2 class="font-bold text-mariner-900 tracking-tight uppercase mb-3 text-3xl">
                {part.heading}
              </h2>
              {part.paragraphs.map((paragraph) => (
                <p
                  class="mb-3 leading-relaxed text-muted-700 text-justify"
                  set:html={paragraph}
                />
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>