---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Banner from "../../components/Banner.astro";
import CTAIntroFlight from "../../components/CTAs/CTAIntroFlight.astro";
import CTASimple from "../../components/CTAs/CTASimple.astro";
import { FaStar } from "react-icons/fa";

import { data } from "../../data/about-us/index";

console.log(data.sections);
---

<BaseLayout siteTitle={data.siteTitle} siteDescription={data.siteDescription} siteKeywords={data.siteKeywords}>
  <Banner data={data.header} slot="hero" />

  {data.sections.map((item) => <CTASimple content={item} />)}

  <section class="bg-accent-50 relative isolate z-0 overflow-hidden text-accent-900 text-center">
    {/* soft radial glow */}
    <div
      class="from-primary-200/40 pointer-events-none absolute -inset-24 -z-10 bg-radial-[at_50%_50%] to-transparent to-60%"
    >
    </div>

    <div class="mx-auto max-w-7xl px-5 py-12 md:px-8 md:py-16 lg:px-10 lg:py-20">
      <p class="eyebrow-dark inline-flex items-center gap-2 px-3 py-1 text-sm tracking-widest uppercase">
        {data.whyUs.underHeader}
      </p>

      <h2 class="text-4xl leading-tight font-bold tracking-tight sm:text-5xl lg:text-6xl">
        {data.whyUs.title}
      </h2>

      {/* Stat (narrowed) */}
      <div class="mt-7 flex flex-col items-center justify-center gap-4 sm:justify-start">
        <div class="flex gap-8 text-yellow-400 sm:gap-12">
          <FaStar className="size-8 sm:size-12" />
          <FaStar className="size-8 sm:size-12" />
          <FaStar className="size-8 sm:size-12" />
          <FaStar className="size-8 sm:size-12" />
          <FaStar className="size-8 sm:size-12" />
        </div>
        <span class="text-8xl font-extrabold text-accent-600 text-shadow-md">
          {data.whyUs.stat}
        </span>
        <p class="text-md tracking-widest text-accent-700 uppercase text-lg">5 star reviews</p>
      </div>

      <a href="https://g.page/r/CQVQ9mbx48AaEBM/review" target="_blank" class="btn-primary mt-7 w-fit mx-auto">
        Leave Us A Review
      </a>
    </div>
  </section>

  <CTAIntroFlight />
</BaseLayout>
