---
import "../styles/global.css";
import { SITE_TITLE, KEYWORDS, OG_IMAGE, FAVICON } from "../data/consts";
 
interface Props {
  title: string;
  description: string;
  image?: string;
  keywords?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image = OG_IMAGE,
  keywords = KEYWORDS,
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<!-- Site Created By:    
       _____  _       _     _     _____           _     _           
      |  __ \(_)     | |   | |   |  __ \         | |   | |          
      | |__) |_  __ _| |__ | |_  | |__) |   _  __| | __| | ___ _ __ 
      |  _  /| |/ _` | '_ \| __| |  _  / | | |/ _` |/ _` |/ _ \ '__|
      | | \ \| | (_| | | | | |_  | | \ \ |_| | (_| | (_| |  __/ |   
      |_|  \_\_|\__, |_| |_|\__| |_|  \_\__,_|\__,_|\__,_|\___|_|   
      |  \/  |   __/ |  | |      | | (_)                            
      | \  / | _|___/ __| | _____| |_ _ _ __   __ _                 
      | |\/| |/ _` | '__| |/ / _ \ __| | '_ \ / _` |                
      | |  | | (_| | |  |   <  __/ |_| | | | | (_| |                
      |_|  |_|\__,_|_|  |_|\_\___|\__|_|_| |_|\__, |                
                                               __/ |                
                                              |___/                 

    Nice to see you here.  Find new student pilots with Right Rudder Marketing.  https://rightruddermarketing.com/contact-us -->

<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href={FAVICON} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- SiteMap -->
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={new URL("rss.xml", Astro.site)}
/>

<meta name="generator" content={Astro.generator} />

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FlightSchool",
  "name": "Vegas Aviation",
  "url": "https://vegasaviation.com/",
  "logo": "https://vegasaviation.com/images/vegas-logo-black.png",
  "image": "https://vegasaviation.com/images/vegas-logo-black.png",
  "description": "Vegas Aviation is a full-service flight school and aircraft maintenance provider located at North Las Vegas Airport (KVGT). We offer FAA-certified pilot training from Private Pilot through Commercial, Instrument, and Instructor ratings, along with aircraft rental and in-house maintenance. With a modern fleet of Cessna 172s, experienced instructors, and a supportive culture, Vegas Aviation helps students achieve their aviation goals safely and efficiently in the clear skies of Southern Nevada.",
  "telephone": "+1 (888) 235-9834",
  "email": "info@vegasaviation.com",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "2634 Airport Drive #103",
    "addressLocality": "North Las Vegas",
    "addressRegion": "NV",
    "postalCode": "89032",
    "addressCountry": "US"
  },
  "currenciesAccepted": "USD",
  "paymentAccepted": "Cash, Credit Card, Visa, Mastercard, American Express, Discover",
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 36.2077125,
    "longitude": -115.20064
  },
  "hasMap": "https://maps.app.goo.gl/wBRei9ePnSWusSx17",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
      ],
      "opens": "08:00",
      "closes": "20:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Saturday",
        "Sunday",
      ],
      "opens": "08:00",
      "closes": "16:00"
    },
  ],
  "sameAs": [
    "https://www.instagram.com/vegasaviationllc",
    "https://www.facebook.com/VegasAviationLLC",
  ],
  "areaServed": {
    "@type": "Place",
    "name": [
      "Los Angeles, NV",
      "Henderson, NV",
      "Boulder City, NV",
    ]
  },
  "makesOffer": {
    "@type": "Offer",
    "itemOffered": {
      "@type": "Service",
      "serviceType": "Flight Instruction"
    },
    "priceCurrency": "USD",
    "price": "Varies"
  },
  "identifier": [
    {
      "@type": "PropertyValue",
      "name": "IATA Code",
      "value": "VGT"
    },
    {
      "@type": "PropertyValue",
      "name": "ICAO Code",
      "value": "KVGT"
    },
    {
      "@type": "PropertyValue",
      "name": "Airport Code",
      "value": "KVGT"
    }
  ]
}
</script>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content="Vegas Aviation" />
<meta name="geo.region" content="US-NV" />
<meta name="geo.placename" content="Las Vegas" />
<meta name="geo.position" content="36.2077125;-115.20064" />
<meta name="IC BM" content="36.2077125, -115.20064" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Vegas Aviation" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
