---
const { content } = Astro.props;
---

<section
  class="relative isolate overflow-hidden bg-linear-to-b from-accent-100 via-white to-accent-100 text-accent-900"
>
  <div class="mx-auto max-w-7xl px-4 py-12 md:px-8 lg:px-10">
    <!-- Header -->
    <div class="text-center max-w-3xl mx-auto mb-12">
      <p class="eyebrow-dark inline-flex items-center gap-2 tracking-widest">
        {content.eyebrow}
      </p>
      <h2 class="mt-4 text-4xl font-extrabold leading-tight tracking-tight sm:text-5xl">
        {content.title}
      </h2>
      <p class="mt-6 text-lg md:text-xl text-accent-700">
        {content.description}
      </p>
    </div>

    <!-- Cards -->
    <div class={`grid grid-cols-1 gap-6 mb-16 ${content.cards.length % 3 === 0 ? "lg:grid-cols-3" : "lg:grid-cols-2"}`}>
      {
        content.cards.map((item: any) => (
          <div class="relative border-2 border-primary-600 bg-white rounded-xl overflow-hidden shadow-md pt-16 px-8 pb-8 text-center hover:shadow-xl hover:scale-105 duration-300">
            <div class="absolute top-0 right-0 bg-primary-600 px-4 py-2">
              <p class="text-accent-100 font-bold font-force-roboto">{item.price}</p>
            </div>
            <p class="text-2xl font-bold text-accent-900">{item.title}</p>
            <p class="text-lg text-accent-600 mt-2">{item.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
