---
import ImageComp from "./ImageComp.astro";
import { FaArrowRight } from "react-icons/fa";
import { LOCATIONS } from "../data/consts";

const data = {
  eyebrow: "About Us",
  title: "A personalized pathway for every student",
  quote: `Where quality flight training meets safety and support. Our fun family culture enhances top-notch instruction and meticulous aircraft maintenance.
  
  Since its inception, Vegas Aviation has continuously grown and adapted, enriching its offerings and facilities to align with the dynamic demands of the aviation sector.`,
  statValue: "200+",
  statLabel: "Five star reviews",
  body: "From your first flight lesson to earning your pilot's license and beyond, Vegas Aviation is with you every step of the way.",
  ctaLabel: "Schedule a Discovery Flight",
  ctaHref: "/",
  rightImage: {
    src: "/src/assets/flying-lessons_vegas-aviation_become-a-pilot_las-vegas_nevada.webp",
    alt: "Certified Flight Instructor with student on a indoors lesson",
  },
};
---

<section class="relative isolate z-0 overflow-hidden text-accent-900 bg-accent-100">
  <div class="mx-auto max-w-7xl px-5 py-16 md:px-8 lg:px-10">
    <div class="flex flex-wrap items-center gap-y-10 lg:gap-y-0">
      <div class="w-full lg:w-1/2 lg:pr-18">
        <p class="eyebrow-dark inline-flex items-center gap-2 tracking-widest">
          {data.eyebrow}
        </p>

        <h2 class="text-5xl/12 font-bold capitalize">
          {data.title}
        </h2>

        <div class="mt-6">
          <div class="flex items-start gap-3">
            <p class="text-lg whitespace-pre-line">{data.quote}</p>
          </div>
        </div>

        <p class="mt-6 md:text-lg">
          From your <a
            href="/new-to-flying"
            class="text-primary-900 font-bold transition-colors duration-300 ease-in-out hover:text-primary-600"
            >first flight lesson</a
          > to earning your <a
            href="/flight-training/private-pilot"
            class="text-primary-900 font-bold transition-colors duration-300 ease-in-out hover:text-primary-600"
            >pilot's license</a
          > and beyond, Vegas Aviation is with you every step of the way. Whether you're pursuing an <a
            href="/flight-training/instrument-rating"
            class="text-primary-900 font-bold transition-colors duration-300 ease-in-out hover:text-primary-600"
            >instrument rating</a
          > or becoming a <a
            href="/flight-training/cfi"
            class="text-primary-900 font-bold transition-colors duration-300 ease-in-out hover:text-primary-600"
            >certified flight instructor</a
          >, we provide personalized training at <a
            href={LOCATIONS[0].gMaps}
            class="text-primary-900 font-bold transition-colors duration-300 ease-in-out hover:text-primary-600"
            >North Las Vegas Airport</a
          >.
        </p>

        <a href={data.ctaHref} class="btn-primary mt-8 w-fit mx-auto sm:mx-0">
          {data.ctaLabel}
          <FaArrowRight />
        </a>
      </div>

      <div
        class="w-full lg:w-1/2 lg:h-[70vh] aspect-square lg:aspect-auto bg-black overflow-hidden rounded-md shadow-lg"
      >
        <ImageComp
          src={data.rightImage.src}
          alt={data.rightImage.alt}
          class="w-full h-full object-cover object-center"
        />
      </div>
    </div>
  </div>
</section>
