---
import ImageComp from "../components/ImageComp.astro";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage, heroImageAlt } = Astro.props;
---

<BaseLayout>
  <main class="max-w-7xl mx-auto" >
    <article>
      <div class="hero-image">
        {heroImage && <ImageComp src={heroImage} alt={heroImageAlt} />}
      </div>
      <div class="prose">
        <div class="title">
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <hr />
        </div>
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>
