---
import { discoveryData } from "../../data/forms/discovery-flight";
import type { Field } from "../../components/utils/types";
import FormField from "./FormField.astro";

const { content = discoveryData } = Astro.props;
---

<section class="bg-accent-100 px-4 py-12 sm:px-6 lg:px-8 lg:py-20" aria-labelledby="contact-heading">
  <div class="flex flex-wrap gap-8 lg:gap-12 max-w-7xl mx-auto lg:flex-nowrap">
    {/* LEFT: Info panel */}
    <div class="w-full overflow-hidden rounded-lg text-accent-900 top-28 lg:w-1/2 lg:self-start lg:sticky">
      <div class="text-accent-900 p-6 sm:p-8 lg:p-10">
        <h2 class="text-5xl font-extrabold text-slate-950">
          {content?.info?.title}
        </h2>
        {
          content?.info?.intro && (
            <p class="text-muted-200 text-xl/5 font-light mt-6 max-w-prose">{content.info.intro}</p>
          )
        }

        <ul class="mt-12 space-y-6 font-force-roboto">
          {
            content?.info?.addressLine1 && (
              <li class="flex items-center gap-4">
                <svg viewBox="0 0 24 24" class="h-10 w-10 text-primary-500">
                  <path
                    fill="currentColor"
                    d="M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7Zm0 9.5a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5Z"
                  />
                </svg>
                <div>
                  <p class="text-muted-100 font-bold">{content?.info?.locationLabel || "Location"}</p>
                  <div class="flex flex-wrap gap-1">
                    <p class="text-muted-300">{content.info.addressLine1},</p>
                    {content?.info?.addressLine2 && <p class="text-muted-300">{content.info.addressLine2}</p>}
                  </div>
                </div>
              </li>
            )
          }

          {
            content?.info?.phoneValue && (
              <li class="flex items-center gap-4">
                <svg viewBox="0 0 24 24" class="h-10 w-10 text-primary-500">
                  <path
                    fill="currentColor"
                    d="M6.62 10.79a15.05 15.05 0 0 0 6.59 6.59l2.2-2.2a1 1 0 0 1 1.01-.24c1.11.37 2.31.57 3.58.57a1 1 0 0 1 1 1v3.49a1 1 0 0 1-1 1C10.29 22 2 13.71 2 3.99a1 1 0 0 1 1-1H6.5a1 1 0 0 1 1 1c0 1.27.2 2.47.57 3.58a1 1 0 0 1-.24 1.01l-2.2 2.21Z"
                  />
                </svg>
                <div>
                  <p class="text-muted-100 font-bold">{content?.info?.phoneLabel || "Phone"}</p>
                  <a
                    href={`tel:${content.info.phoneValue}`}
                    class="text-muted-300 transition-colors duration-300 ease-in-out hover:text-primary-500!"
                  >
                    {content.info.phoneValue}
                  </a>
                </div>
              </li>
            )
          }
        </ul>
      </div>
    </div>

    {/* RIGHT: Form */}
    <div class="bg-primary-700 rounded-lg p-6 ring-1 ring-primary-900 text-white font-semibold sm:p-8 lg:p-10">
      {/* HoneyPot */}
      <p class="hidden">
        <label>Don't fill this out if you're human: <input name="confirm_email" /></label>
      </p>

      {
        content?.eyebrow && (
          <p class="eyebrow-light inline-flex items-center gap-2 tracking-widest">
            <span class="size-1.5 rounded-full bg-primary-900" />
            {content.eyebrow}
          </p>
        )
      }
      {
        content?.heading && (
          <h2 id="contact-heading" class="mt-4 text-4xl text-slate-950 font-extrabold lg:text-5xl">
            {content.heading}
          </h2>
        )
      }
      {content?.subheading && <p class="text-slate-100 font-light mt-1 max-w-prose">{content.subheading}</p>}

      <form
        id="page-form"
        class="mt-8 space-y-6"
        method={content?.form?.method || "post"}
        action={content?.form?.action || "#"}
      >
        {/* TODO : Fix. For some reason Tailwind cannot resolve col-span-full on the FormField without this */}
        <div class="hidden col-span-full"></div>

        {/* Dynamic fields */}
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
          {content.form.fields?.map((f: Field) => <FormField f={f} />)}
        </div>

        <div class="space-y-4 pt-2">
          {/* Terms */}
          <div class="flex items-start">
            <input
              id="agree_to_terms_and_conditions"
              name="agree_to_terms_and_conditions"
              type="checkbox"
              class="bg-muted-900/70 mt-1 h-5 w-5 rounded border-white/20 text-primary-500"
              required
            />
            <label for="agree_to_terms_and_conditions" class="text-muted-200 font-light ml-3 text-sm">
              I agree to the
              <a href="/privacy-policy" target="_blank" rel="noopener" class="underline hover:text-primary-300"
                >Privacy Policy</a
              > and <a href="/terms-of-service" target="_blank" rel="noopener" class="underline hover:text-primary-300"
                >Terms of Service</a
              > provided by the company. By providing my phone number, I agree to receive text messages from the business.
            </label>
          </div>

          <button id="submitBtn" type="submit" class="btn-primary" disabled>
            {content?.form?.cta || "Submit"}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  import { DISCOVERY_SESSION_WEBHOOK_URL, PORTAL_API_KEY, PORTAL_URL } from "astro:env/client";
  import { generatePortalPostBody, updateSubmitButtonState } from "../utils/utils";

  document.addEventListener("DOMContentLoaded", () => {
    const form: any = document.getElementById("page-form");
    const submitBtn: any = document.getElementById("submitBtn");
    const accept: any = document.getElementById("agree_to_terms_and_conditions");
    const cooldownSeconds = 10;
    let isSubmitting = false;

    if (!form || !submitBtn || !accept) {
      console.error("Form, submit button, or accept checkbox not found.");
      return;
    }

    // Initialize and keep in sync
    updateSubmitButtonState(submitBtn, accept.checked && form.checkValidity(), "");

    accept.addEventListener("change", () => {
      updateSubmitButtonState(submitBtn, accept.checked && form.checkValidity(), "");
    });

    form.addEventListener("input", () => {
      updateSubmitButtonState(submitBtn, accept.checked && form.checkValidity(), "");
    });

    form.addEventListener("submit", async (event: any) => {
      event.preventDefault();

      if (isSubmitting) return;
      if (submitBtn.disabled) return;

      const formData = new FormData(form);
      const data = Object.fromEntries(formData.entries());
      if (data["confirm_email"]) return; // honeypot

      const webhookURL = DISCOVERY_SESSION_WEBHOOK_URL;
      const apiKey = PORTAL_API_KEY;

      if (!webhookURL) {
        return alert("Missing submission configuration (webhook).");
      }

      if (!apiKey) {
        return alert("Missing submission configuration (apiKey).");
      }

      const portalBody = generatePortalPostBody(data, "discovery_flight");

      try {
        isSubmitting = true;
        updateSubmitButtonState(submitBtn, true, "Submitting...");

        const [crmResponse, portalResponse] = await Promise.all([
          fetch(webhookURL, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data),
          }),
          fetch(PORTAL_URL, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
              "x-api-key": apiKey,
            },
            body: JSON.stringify(portalBody),
          }),
        ]);

        if (crmResponse.ok && portalResponse.ok) {
          window.location.href = "/discovery-flight-confirmation";
        } else {
          console.error("Submission failed", {
            crm: {
              status: crmResponse.status,
              body: await crmResponse.json(),
            },
            portal: {
              status: portalResponse.status,
              body: await portalResponse.json(),
            },
          });
          alert("Submission failed.");
        }

        updateSubmitButtonState(submitBtn, true, "Submit");
      } catch (err) {
        console.error("Submission error:", err);
        alert("Network error.");
      } finally {
        setTimeout(() => {
          isSubmitting = false;
          updateSubmitButtonState(submitBtn, true, "Submit");
        }, cooldownSeconds * 1000);
      }
    });
  });
</script>